NEXT_PUBLIC_SUPABASE_URL=https://ttirxpcvjqkcikcetrqx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_PuJzqQm8EAclGj4No3ZaNQ_UBms9_tX
NEXT_PUBLIC_WHATSAPP_PHONE=212641787999
NEXT_PUBLIC_ADMIN_PIN=2026
